@import '../../scss/utils/typographie';

.position {
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    width: 1240px;
    cursor: pointer;

    .overlay-banniere {
        position: absolute;
        width: 340px;
        height: 340px;
        border-radius: 10px;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.2805497198879552) 0%, rgba(0, 0, 0, 0.2637429971988795) 100%);
    }

    .img-cover {
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 10px;
    }

    .container-article {
        position: absolute;
        padding: 20px;
        z-index: 1;

        .position-desc {
            display: flex;
            color: $color-text_white;
            width: 300px;
            height: 52px;

            font: {
                family: $text;
                size: 18px;
                weight: 500;
            }
        }
    }
}