@import '../utils/typographie';

body{
display: flex;
flex-direction: column;
.color-h1{
    display: flex;
    color: $color-text;
    font-size: 288px;
    font-weight: 700;
    font-family: $text;
    justify-content: center;
    align-items: center;
}

.color-p{
    display: flex;
    align-items: center;
    justify-content: center;
    color:$color-text;
    font-size: 36px;
    font-weight: 500;
    font-family: $text;
}

.color-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text;
    font-size: 18px;
    font-weight: 500;
}
}