@import'../utils/typographie';

.container-etoiles{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    list-style-type:none;


    .rouge{
        color:$color-text
    }
    
    .gris{
        color:$etoilegris
    }
}