@import '../utils/typographie';

body{
    display: flex;
    align-items: center;
    justify-content: center;
    .bg-footer {
        width: 1260px;
        height: 209px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $color-footer;
        .kasa-logo{
            width: 122px;
            height: 39px;
            display: flex;
            color:$color-text_white;
        }
        .text-white{
            font: {
                size: 24px;
                weight: 500px;
                family: $text;
            }
            color:$color-text_white;
        }
    }
}