@import './typographie';

.liste-position{
    margin: 0, auto;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.bg-gris{
    width: 1240px;
    height: auto;
    border-radius: 25px;
    padding: 40px;
    gap: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 6fr));
    justify-content: space-between;
    background: $color-container-bg;

}