@import'../utils/typographie';

.container-flex {
    margin: 10px auto;
    padding: 20px 0;
    width: 1240px;

    .container-text-display {
        width: 100%;
        height: auto;
        display: flex;
        height: auto;
        padding: 20px;
        justify-content: space-between;
        flex-direction: row;

        h2 {
            font: {
                size: 36px;
                weight: 500;
            }

            color: $color-text;
        }

        .container-text-position {

            span {
                font: {
                    size: 18px;
                    weight: 500;
                    family: $text;
                }
                padding: 10px;
                margin-top: 10px;
                color: $color-text;
            }

            .container-tag {
                display: flex;
                padding-top: 20px;
                justify-content: space-between;
                gap: 20px;
                width: 100%;
                // height: 25px;
                
            }
        }

        .container-seller {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .seller{
                display: flex
            }

            .color-p {
                margin-top: 10px;
                text-align: center;

                font: {
                    size: 18px;
                    weight: 500;
                    family: $text;
                }

                color: $color-text;
                width: 93px;
                height: 52px;
            }

            .img-seller {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }



    .container-collapse {
        display: flex;
        flex-direction: row;
        width: 1240px;
        height: auto;
        margin-top: 40px;
        gap: 40px;
        justify-content: center;
    }
}