@import '../utils/typographie';



.container-Tags {
    display: flex;
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background: $color-text;
    justify-content: center;
    align-items: center;

    font: {
        family: $text;
        weight: 500;
        size: 14px;
    }

    color: $color-text_white;

}