// ajout de typographie Monserrat
$text:'Montserrat', sans-serif;

// couleur texte = #ff6060
// couleur texte = #ff6060
$color-text_white:#FFFFFF;
$color-chevron:#FFFFFF;
$color-text: #FF6060;
$etoilegris: #E3E3E3;

// couleur footer = #000000
$color-footer: #000000;

// couleur background = #FFFFFF
$color-background: #FFFFFF;

// couleur container-bg = #F6F6F6
$color-container-bg: #f7f7f7;

// linear-gradient
$color-bg-linear-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);