@import '../utils/typographie';
// style du carousel



.slider {
    position: relative;
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    margin: 0 auto;

    .chiffre {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 10px;
        font-family: $text;
        font-size: 18px;
        font-weight: 500;
        color: $color-text_white;
        text-shadow: 2px 2px 8px #333;

    }

    .position-chevron {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;

        .btn-arrowD {
            order: 1;
        }
    }

    .btn-arrowD,
    .btn-arrowG {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;

        &:focus {
            outline: none;
        }
    }

    .btn-arrowD {
        margin-left: auto;
    }

    .img-slider {
        width: 1240px;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;

    }
}







// .container-slider {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     margin: 0, auto;

//     .slider {
//         position: relative;
//         // width: 1240px;
//         // height: 415px;
//         // border-radius: 25px;
//         // object-fit: cover;

//         .img-slider {
//             width: 1240px;
//             height: 415px;
//             border-radius: 25px;
//             object-fit: cover;
//         }
//     }

//     .position-chevron {
//         width: 1240px;
//         height: 79px;
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         padding: 10px;
//         display: flex;
//         justify-content: space-between;


//         .btn-arrowD, .btn-arrowG {
//             position: absolute;
//             width: 60px;
//             height: 79px;
//             background-color: transparent;
//             border: none;
//             cursor: pointer;
//             color: $color-chevron;


//             &:focus{
//                 outline: none;
//             }
//             .btn-arrowD{
//                 margin-left: auto;
//             }

//             svg {
//                 width: 100%;
//                 height: 100%;
//                 fill: $color-chevron
//             }

//         }
//     }
// }