@import '../utils/typographie';

.containerCollapse {
  width: 1023px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;

  details {
    width: 100%;
    height: max-content;
    background: $color-container-bg;
    color: $color-text_white;
    display: flex;
    margin-bottom: 20px;

    p {
      padding: 20px;
      font-family: $text;
      color: $color-text;
      font-size: 18px;
      font-weight: 400;
    }

    .bgCollapse[open] {
      transition: all 3s ease-in-out;
    }

    summary {
      width: 100%;
      height: auto;
      font-size: 24px;
      font-weight: 500;
      font-family: $text;
      color: $color-text_white;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-radius: 5px;
      background: $color-text;

      
      svg {
        fill: $color-text_white;
        width: 20px;
        transition: transform 0.5s ease-in-out;
      }
    }
    ul{
      padding: 20px;
      list-style-type: none;
      li{
        font: {
          weight:400;
          family:$text;
          size: 18px;
        }
        color: $color-text;
      }
    }
  }
}